/* header menu styling */
.mainmenu{
  color: white;
  font-size: 18px;
  text-decoration: none;
}
.mainmenu:hover{
  color: dodgerblue;
  font-size: medium;
}
.mainmenu .logoimg{
  width: 100px;
  height: 50px;
  
}